@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
}

/* HEADER */
header {
  max-width: 1200px;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 14rem;
}

.text-header {
  margin-top: 5rem;
}

.img-container {
  width: 10%;
}

.text-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

button {
  border: 2px solid rgb(17, 24, 39);
  transition: background-color .2s;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CENTER CONTENT */
.content-container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 10rem;
}

.column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}

/* MENU */
.menu-container {
  max-width: 1200px;
  margin: auto;
}

.menu-container h1 {
  margin-bottom: 1rem;
}

/* ACCORDION */
button span {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordion-body {
  font-size: 1.1rem;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity .7s;
  margin-bottom: 1rem;
}

.accordion-body.active {
  height: 100%;
  opacity: 1;
  padding: 5px 0;
}

.arrow {transition: transform .2s linear;}

li {
  margin-bottom: 2rem;
}

/* FOOTER */
footer {
  margin-top: 8rem;
}

footer p {
  padding: 1.4rem;
}

/* RESPONSIVE DESIGN */
@media(max-width: 800px) {
  header, .content-container, .menu-container {
    max-width: 80%;
    margin: auto;
    margin-bottom: 5rem;
  }

  /* HEADER */
  header {
    margin-top: 2rem;
  }

  .text-header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .text-header h1 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
  }

  .header-informations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  button {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .address {
    font-size: 1.2rem;
  }

  /* CENTER CONTENT */
  .content-container {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }

  .content-container h1 {
    font-size: 2.2rem;
    line-height: 50px;
  }

  .column {
    display: flex;
    flex-flow: column wrap;
  }



  /* MENU */
  .menu-container h1 {
    font-size: 2.5rem;
  }

  li {
    margin-bottom: 1rem;
  }

  /* FOOTER */
  footer {
    margin-top: 1rem;
  }

  footer p {
    padding: 1rem;
  }
}